<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AwsDeviceFarmTest" parallel="methods">
	<test name="testngTest">
		<classes>
			<class name="tests.AppTest"></class>
			<class name="tests.AppTest2"></class>
		</classes>
	</test>
</suite>

